@import "~bulma/bulma";

.textarea {
  height: 400px;
  line-height: normal;
  font-size: 1.0rem;
  font-family:
    'Noto Sans Mono CJK JP',
    'Source Han Code JP',
    'Ricty', 'Ricty Diminished', 'Ricty Diminished Discord',
    'Myrica M', 'MyricaM M',
    'Rounded M+ 1m regular',
    'Rounded M+ 2m regular',
    'Rounded Mgen+ 1m regular',
    'Rounded Mgen+ 2m regular',
    'Migu 1M', 'Migu 2M',
    'VL ゴシック',
    'M+ 1m', 'M+ 2m',
    'Yutapon coding Regular',
    SFMono-Regular,
    Consolas,
    'Roboto Mono',
    'Courier New',
    Courier,
    Meiryo,
    "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    "Liberation Mono",
    "Nimbus Mono L",
    Monaco,
    monospace;
}
